{% load static %}
<div id="achievement" class="item">
	<div class="row">
		<div class="title bold col s color-blue-lighter">免费获取成就卡片</div>
		<div class="close-blue col close"></div>
	</div>
	<div class="row clear">
		<div class="describe s_in color-brown col">
		使用成就卡片记录您的任务状况，能让您每月节省最高 <label class="color-orange">10元</label> 的赏金费用。
		</div>
		<div class="symbol col">
			<img src="{% get_static_prefix %}images/achievement_card.png" width="101" height="85" title=""/>
		</div>
	</div>
	<div class="row clear">
		<div class="button-gray-ext-long">现在获取</div>
	</div>
	<div class="blank"></div>
	<div class="side-sep-line"></div>
</div>
<div id="real-photo" class="item">
	<div class="row">
		<div class="title bold col s color-blue-lighter">上传真实照片</div>
		<div class="close-blue col close"></div>
	</div>
	<div class="row clear">
		<div class="describe s_in color-brown col">
		网站上的兔子们更愿意为那些能看到真实面容的雇主工作，所以我们建议您上传真实清晰的照片。
		</div>
		<div class="symbol col">
			<img src="{% get_static_prefix %}images/real_photo.png" width="101" height="85" title=""/>
		</div>
	</div>
	<div class="row clear">
		<div class="button-gray-ext-long">立刻上传</div>
	</div>
	<div class="blank"></div>
	<div class="side-sep-line"></div>
</div>
<div id="invite-friends" class="item">
	<div class="row">
		<div class="title bold col s color-blue-lighter">邀请好友加入</div>
		<div class="close-blue col close"></div>
	</div>
	<div class="row clear">
		<div class="describe s_in color-brown col">
		使用邀请码邀请好友加入，您的好友第一次发布任务可以多获得 
		<label class="color-orange">5元</label> 赏金券，而在任务完成时您也可以获得 
		<label class="color-orange">5元</label> 赏金券。
		</div>
		<div class="symbol col">
			<img src="{% get_static_prefix %}images/advertise.png" width="101" height="85" title=""/>
		</div>
	</div>
	<div class="row clear">
		<div class="button-gray-ext-long">邀请好友</div>
	</div>
	<div class="blank"></div>
	<div class="side-sep-line"></div>
</div>
<div id="how-to-be-dazatu" class="item">
	<div class="row">
		<div class="title bold col s color-blue-lighter">如何帮助别人？</div>
		<div class="close-blue col close"></div>
	</div>
	<div class="row clear">
		<div class="describe s_in color-brown col">
		申请成为打杂兔，您将有机会帮助别人解决问题，同时赚取赏金。
		</div>
		<div class="symbol col">
			<img src="{% get_static_prefix %}images/do_task.png" title=""/>
		</div>
	</div>
	<div class="row clear">
		<div class="button-gray-ext-long">申请成为打杂兔</div>
	</div>
	<div class="blank"></div>
	<div class="side-sep-line"></div>
</div>
<div id="add-regions" class="item">
	<div class="row">
		<div class="title bold col s color-blue-lighter">没有您所在的城市？</div>
		<div class="close-blue col close"></div>
	</div>
	<div class="row clear">
		<div class="describe s_in color-brown col">
		打杂兔网站始终致力于开拓更多的城市和地区以服务更多的人们，请把您所在的位置告诉我们吧
		，也许明天您就可以使用我们的服务了！
		</div>
		<div class="symbol col">
			<img src="{% get_static_prefix %}images/mark.png" title=""/>
		</div>
	</div>
	<div class="row clear">
		<div class="button-gray-ext-long">添加位置</div>
	</div>
	<div class="blank"></div>
	<div class="side-sep-line"></div>
</div>